@import "tailwindcss";

@theme {
  --color-primary: #bb86fc;
  --color-primary-hover: #a370db;
  --color-secondary: #03dac6;
  --color-secondary-hover: #01bfa5;
  --color-bg-dark: #121212;
  --color-card-dark: #1e1e1e;
  --color-error: #cf6679;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}
